/* create styles for the 2 types of terrain (walls and paths), it can be simple background colors for starter. */

main div{
    height: 50px;
    width: 50px;
}

.hidden-text {
    display: none;
}

.walls{
    /* background-color: rgb(127, 78, 44); */
    background-image: url('./img/walls1.png');
    background-size: 50px;

}

.paths{
    /* background-color: rgb(180, 186, 184); */
    background-image: url('./img/path.png');
    background-size: 50px;
}

.starter{
    background-color: rgb(90, 157, 176);
    border-radius: 20px;
    height: 30px;
    width: 30px;
    justify-self: center;
}

.treasure{
    background-color: rgb(239, 247, 99);
    border-radius: 10px;
    height: 35px;
    width: 45px;
    justify-self: center;
}